---
import { getOffre } from '../../backend.mjs';
import Base from '../../layouts/Base.astro';

const { id } = Astro.params;
const offre = await getOffre(id);

if (!offre) {
    return Astro.redirect('/offres');
}
---

<Base>
     <ul>
          <li><strong>Nom de la maison :</strong> {offre.nom_maison}</li>
          <li><strong>Adresse :</strong> {offre.Adresse}</li>
          <li><strong>Prix :</strong> {offre.Prix} €</li>
          <li><strong>Superficie :</strong> {offre.superficie} m²</li>
          <li><strong>Nombre de chambre :</strong> {offre.Nombre_chambre}</li>
          <li><strong>Nombre de salle de bain :</strong> {offre.Nombre_sdb}</li>
     </ul>
</Base>
